*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
keystore.properties
/androidApp/build
/androidApp/release
/compose-web/build
/shared/build
/iosApp/Pods/

*.swp
*~.nib

iosApp/build/

*.pbxuser
*.perspective
*.perspectivev3
xcuserdata/*
xcuserdata
DerivedData
